.App{
    display: flex;
    background-color: greenyellow;
    height: inherit;
    width: inherit;

}
.sidebar{
    background-color: 'grey';
    display: flex;

}

.header{
    background-color: 'blue';
    display: flex;
}

